
body {
    background-color: #cbab5e;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
}

.section-title {
    color: rgb(26, 3, 197);
    border-left: 5px solid red;
    padding-left: 10px;
    margin-top: 30px;
}


.shorts-grid {
    display: flex !important;           
    overflow-x: auto !important;         
    flex-wrap: nowrap !important;        
    gap: 15px;
    padding: 15px 5px;
    width: 100%;
    scrollbar-width: thin;               
}

.short-card {
    flex: 0 0 200px !important;          
    height: 350px;
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #333;
}


.full-video-grid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;      
    gap: 15px;
    padding: 15px 5px;
}

.video-item {
    width: 100%;
    aspect-ratio: 16 / 9;                
    background: #1a1a1a;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #333;
}


@media (max-width: 500px) {
    .full-video-grid {
        grid-template-columns: 1fr;      
    }
}


iframe {
    width: 100%;
    height: 100%;
}